a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

time {
  font-size: 0.9rem;
}

.message--unread {
  border-left: solid 3px blue;
}

.messages div:first-child {
  filter: opacity(0.6);
}

.message {
  line-height: 3;
}
