/* Write your media queries and flexbox CSS below */

@media (min-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (min-width: 700px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
