.site-header > p {
  color: white;
}

.site-header > div {
  margin-bottom: 0px;
}

.site-footer > p {
  font-size: 12px;
  text-align: center;
}

.messages div:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
